<md-toolbar color="primary">
    <span>Dynamo DB GUI</span>

    <span class="example-fill-remaining-space"></span>

    <div class="horizontal-menu-item">
        <button md-mini-fab color="accent">
            <i class="material-icons">autorenew</i>
        </button>
    </div>

    <div class="horizontal-menu-item">
        <button md-mini-fab color="accent">
            <i class="material-icons">code</i>
        </button>
    </div>

</md-toolbar>

<md-list>
    <md-list-item> Pepper </md-list-item>
    <md-list-item> Salt </md-list-item>
    <md-list-item> Paprika </md-list-item>
</md-list>

<md-grid-list cols="4" [style.background]="'lightblue'">
    <md-grid-tile>
        <md-card>
            <md-card-subtitle>Subtitle first</md-card-subtitle>
            <md-card-title>Card with title</md-card-title>
            <md-card-content>
                <p>This is supporting text.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad</p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <md-card-subtitle>Subtitle first</md-card-subtitle>
            <md-card-title>Card with title</md-card-title>
            <md-card-content>
                <p>This is supporting text.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad</p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <md-card-subtitle>Subtitle first</md-card-subtitle>
            <md-card-title>Card with title</md-card-title>
            <md-card-content>
                <p>This is supporting text.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad</p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <md-card-subtitle>Subtitle first</md-card-subtitle>
            <md-card-title>Card with title</md-card-title>
            <md-card-content>
                <p>This is supporting text.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad</p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>
</md-grid-list>

<button md-raised-button color="primary">PRIMARY</button>
<button md-raised-button color="accent">ACCENT</button>
<button md-raised-button color="warn">WARN</button>

<button md-button>FLAT</button>
<button md-raised-button>RAISED</button>
<button md-icon-button>
    <md-icon class="md-24">favorite</md-icon>
</button>
<button md-fab>
    <md-icon class="md-24">add</md-icon>
</button>
<button md-mini-fab>
    <md-icon class="md-24">add</md-icon>
</button>