<md-toolbar color="primary">
    <span>{{title}}</span>

    <span class="example-fill-remaining-space"></span>

    <div class="horizontal-menu-item">
        <button md-mini-fab color="accent" md-tooltip="Refresh" tooltip-position="below" (click)="refresh()">
            <i class="material-icons">autorenew</i>
        </button>
    </div>
</md-toolbar>

<router-outlet></router-outlet>

<footer>
    <a href="https://github.com/rickzee/dynamodb-gui" target="_blank" class="github-link">
        <img src="../img/GitHub-Mark-32px.png" alt="View code in Github" class="github-icon"><span class="github-text">View on Github</span>
    </a>
</footer>