<div class="push-down-40px table-actions">
	<div class="action-control first">
		<button md-mini-fab color="accent" (click)="goBack()">
        <i class="material-icons">keyboard_backspace</i>
    </button>
	</div>

	<div class="action-control next">
		<md-button-toggle-group [value]="viewType" (change)="changeViewType($event)">
			<md-button-toggle value="view-table">Table View</md-button-toggle>
			<md-button-toggle value="view-panel">Panel View</md-button-toggle>
		</md-button-toggle-group>
	</div>

	<div class="action-control next">
		<input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
	</div>

</div>

<div class="content">
	<h2>{{tableName}}</h2>

	<p *ngIf="!hasItems" class="panel-info">
		Table has no items
	</p>

	<table *ngIf="viewType==='view-table'" class="pure-table pure-table-horizontal result-table">
		<thead>
			<tr>
				<th *ngFor="let attrName of attributeNames | async">{{attrName}}</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let row of rows | async">
				<td *ngFor="let attr of row">
					<span *ngIf="isObject(attr)">{{attr | json}}</span>
					<span *ngIf="!isObject(attr)">{{attr}}</span>
				</td>
			</tr>
		</tbody>
	</table>

	<div *ngIf="viewType==='view-panel'">
		<dl *ngFor="let row of rows | async" class="result-panel">

			<ng-container *ngFor="let attrName of attributeNames | async; let i = index">
				<dt>
					<span *ngIf="!attrName" class="null-value">-</span>
					<span *ngIf="attrName">{{attrName}}</span>
				</dt>
				<dd>
					<span *ngIf="!row[i]" class="null-value">-</span>
					<span *ngIf="row[i] && isObject(row[i])">{{row[i] | json}}</span>
					<span *ngIf="row[i] && !isObject(row[i])">{{row[i]}}</span>
				</dd>
			</ng-container>
		</dl>

	</div>
</div>