<div class="content">
    <table class="pure-table pure-table-horizontal result-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Items</th>
                <th>Attributes</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let table of tables" (click)="gotoDetail(table)" class="table-link">
                <td>{{table.name}}</td>
                <td>{{table.definition?table.definition.Table.ItemCount:''}}</td>
                <td>{{table.definition?table.definition.Table.AttributeDefinitions.length:''}}</td>
            </tr>
        </tbody>
    </table>
</div>
