<button md-mini-fab color="accent" md-tooltip="Back to table list" tooltip-position="below" (click)="goBack()">
    <i class="material-icons">keyboard_backspace</i>
</button>

<!--{{table | json}}-->

<p *ngIf="!hasItems" class="panel-info">
	"{{tableName}}" table has no items
</p>

<!--<div *ngFor="let item of items">
	<div *ngFor="let attr of item | values">
		{{attr.key | json}}
		<br> {{attr.value | json}}
	</div>
</div>-->

<div class="content">
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th *ngFor="let attrName of attributeNames">{{attrName}}</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let row of rows">
				<td *ngFor="let attr of row">{{attr.value}}</td>
			</tr>
		</tbody>
	</table>
</div>